<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= image_tag f.object.thumbnail_url %>
  </div>
  <div class="field">
    <%= f.label :first_name,
                class: 'label' %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name,
                class: 'label' %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth,
                class: 'label' %>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :height_feet,
                'Height',
                class: 'label' %>
    <%= f.select :height_feet, @heights_feet, selected: f.object.height_feet %>
    &nbsp;ft&nbsp;
    <%= f.select :height_inches, @heights_inches, selected: f.object.height_inches %>
    &nbsp;in
  </div>
  <div class="field">
    <%= f.label :hair_colour,
                class: 'label' %>
    <%= f.select :hair_colour,
                 @hair_colours,
                 {selected: f.object.hair_colour},
                 {class: 'longSelect'} %>
  </div>
  <div class="field">
    <%= f.label :eye_colour,
                class: 'label' %>
    <%= f.select :eye_colour,
                 @eye_colours,
                 {selected: f.object.eye_colour},
                 {class: 'longSelect'} %>
  </div>
  <div class="field">
    <%= f.label :gender,
                class: 'label' %>
    <%= f.select :gender,
                 ['Male', 'Female'],
                 {selected: f.object.gender},
                 {class: 'longSelect'} %>
  </div>
  <div class="field">
    <%= f.label :postcode,
                class: 'label' %>
    <%= f.text_field :postcode, size: 10 %>
  </div>
  <div class="field">
    <%= f.label :telephone_number,
                class: 'label' %>
    <%= f.text_field :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :email_address,
                class: 'label' %>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :skill_list,
                'Skills (comma seperated list)',
                class: 'longLabel' %><br />
    <%= f.text_field :skill_list %>
  </div>
  <div class="field">
    <%= f.label :status,
                class: 'label' %>
    <%= f.select :status, ['Active',
                 'Inactive'],
                 {selected: f.object.status},
                 {class: 'longSelect'}
                  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
