<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :height_feet %><br />
    <%= f.number_field :height_feet %>
  </div>
  <div class="field">
    <%= f.label :height_inches %><br />
    <%= f.number_field :height_inches %>
  </div>
  <div class="field">
    <%= f.label :hair_colour %><br />
    <%= f.text_field :hair_colour %>
  </div>
  <div class="field">
    <%= f.label :eye_colour %><br />
    <%= f.text_field :eye_colour %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :last_viewed_at %><br />
    <%= f.datetime_select :last_viewed_at %>
  </div>
  <div class="field">
    <%= f.label :view_count %><br />
    <%= f.number_field :view_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
