%b Application received through CK Casting website

%p
  This application can be viewed online at:
  %br/
  %a{href: "http://www.ckcasting.co.uk/applicants/#{@applicant.id}"}
    http://www.ckcasting.co.uk/aplicants/#{@applicant.id}

%table
  %tr
    %td First name:
    %td #{@applicant.first_name}
  %tr
    %td Last name:
    %td #{@applicant.last_name}
  %tr
    %td Address:
    %td
      = @applicant.address_line_1
      %br/
      = @applicant.address_line_2
      %br/
      = @applicant.address_line_3
      %br/
      = @applicant.address_line_4
  %tr
    %td Postcode:
    %td #{@applicant.postcode}
  %tr
    %td Date of birth:
    %td #{@applicant.date_of_birth_string}
  %tr
    %td Gender:
    %td #{@applicant.gender}
  %tr
    %td Height:
    %td #{@applicant.height_string}
  %tr
    %td Hair colour:
    %td #{@applicant.hair_colour}
  %tr
    %td Eye colour:
    %td #{@applicant.eye_colour}
  %tr
    %td Skills:
    %td #{@applicant.skills}
  %tr
    %td{colspan: 2} First Parent or Gaurdian
  %tr
    %td Name:
    %td #{@applicant.gaurdian_name_1}
  %tr
    %td Telephone:
    %td #{@applicant.gaurdian_telephone_1}
  %tr
    %td Email address:
    %td #{@applicant.email_address}
  %tr
    %td{colspan: 2} Second Parent or Gaurdian
  %tr
    %td Name:
    %td #{@applicant.gaurdian_name_2}
  %tr
    %td Telephone
    %td #{@applicant.gaurdian_telephone_2}
  %tr
    %td{colspan: 2} Third Parent or Gaurdian
  %tr
    %td Name:
    %td #{@applicant.gaurdian_name_3}
  %tr
    %td Telephone:
    %td #{@applicant.gaurdian_telephone_3}
  %tr
    %td{colspan: 2} Credits
  %tr
    %td Stage:
    %td #{@applicant.stage_credits}
  %tr
    %td TV:
    %td #{@applicant.tv_credits}
  %tr
    %td Film:
    %td #{@applicant.film_credits}
  %tr
    %td Other:
    %td #{@applicant.other_credits}
