<b>Application recieved through CK Casting website</b>

<p>
 This application can be viewed online at:<br />
 <a href="http://www.ckcasting.co.uk/applicants/<%= @applicant.id %>">
   http://www.ckcasting.co.uk/aplicants/<%= @applicant.id %>
 </a>
</p>
<table class="">
  <tr>
    <td>First name:</td>
    <td><%= @applicant.first_name %></td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td><%= @applicant.last_name %></td>
  </tr>
  <tr>
    <td>Address:</td>
    <td><%= @applicant.address_line_1 %><br />
        <%= @applicant.address_line_2 %><br />
        <%= @applicant.address_line_3 %><br />
        <%= @applicant.address_line_4 %></td>
  </tr>
  <tr>
    <td>Postcode:</td>
    <td><%= @applicant.postcode %></td>
  </tr>
  <tr>
    <td>Date of birth:</td>
    <td><%= @applicant.date_of_birth %></td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td><%= @applicant.gender %></td>
  </tr>
  <tr>
    <td>Height:</td>
    <td><%= @applicant.height_feet %>' <%= @applicant.height_inches %>"</td>
  </tr>
  <tr>
    <td>Hair colour:</td>
    <td><%= @applicant.hair_colour %></td>
  </tr>
  <tr>
    <td>Eye colour:</td>
    <td><%= @applicant.eye_colour %></td>
  </tr>
  <tr>
    <td>Skills:</td>
    <td><%= @applicant.skills %></td>
  </tr>
  <tr>
    <td colspan="2">First Parent or Gaurdian</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @applicant.gaurdian_name_1 %></td>
  </tr>
  <tr>
    <td>Telephone:</td>
    <td><%= @applicant.gaurdian_telephone_1 %></td>
  </tr>
  <tr>
    <td>Email address:</td>
    <td><%= @applicant.email_address %></td>
  </tr>
  <tr>
    <td>Fax:</td>
    <td><%= @applicant.fax %></td>
  </tr>
  <tr>
    <td colspan="2">Second Parent or Gaurdian</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @applicant.gaurdian_name_2 %></td>
  </tr>
  <tr>
    <td>Telephone</td>
    <td><%= @applicant.gaurdian_telephone_2 %></td>
  </tr>
  <tr>
    <td colspan="2">Third Parent or Gaurdian</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @applicant.gaurdian_name_3 %></td>
  </tr>
  <tr>
    <td>Telephone:</td>
    <td><%= @applicant.gaurdian_telephone_3 %></td>
  </tr>
  <tr>
    <td colspan="2">Credits</td>
  </tr>
  <tr>
    <td>Stage:</td>
    <td><%= @applicant.stage_credits %></td>
  </tr>
  <tr>
    <td>TV:</td>
    <td><%= @applicant.tv_credits %></td>
  </tr>
  <tr>
    <td>Film:</td>
    <td><%= @applicant.film_credits %></td>
  </tr>
  <tr>
    <td>Other:</td>
    <td><%= @applicant.other_credits %></td>
  </tr>
</table>
