- @title = 'Header Manager'

%h2 Header Manager

%p
  Select seven cast members who's images you would like to appear
  on the website header.

= form_tag({action: :update}, multipart: true) do
  %table
    - (1..7).each do |i|
      %tr
        %td
          - l = ''
          - l = ' (front)' if i == 1
          - l = ' (back)' if i == 7
          = label_tag "Image #{i} #{l}"

        %td
          = select_tag "images[#{i}]",
              options_from_collection_for_select(@people.all, :id, :full_name)

  = submit_tag 'Update header'
