<% @title = 'Admin' %>
<h2>Website Administration</h2>
<p>Use this page to administer your website and get information
   about it's performance</p>

<div>
  Log out: <%= link_to @user.name, logout_url, method: :delete  %>
</div>
<div class="adminTasks">
  <table>
    <tr>
      <td class='adminTask'>
        <%= link_to 'Website Performance', APP_CONFIG['ga_link'] %>
      </td>
      <td>
        Click <%= link_to 'here', APP_CONFIG['ga_link'] %> to view the
        Google Analyticts pages for this website (requires Google login).
        Use these pages to see the number of visitors and find out how they
        are finding your site.
      </td>
    </tr>
    <tr>
      <td class='adminTask'>
        <%= link_to 'Manage Cast Members', people_path %>
      </td>
      <td>
        Click <%= link_to 'here', people_path %> to edit cast
        members details, add new members or make current members
        inactive.
      </td>
    </tr>
    <tr>
      <td class='adminTask'>
        <%= link_to 'Manage Family Groups', families_path %>
      </td>
      <td>
        Click <%= link_to 'here', families_path %> to edit family
         groups, add or remove groups.
      </td>
    </tr>
    <tr>
      <td class='adminTask'>
        <%= link_to 'View Applicants', applicants_path %>
      </td>
      <td>
        Click <%= link_to 'here', applicants_path %> to view
        all applications to join CK Casting.
      </td>
    </tr>
    <tr>
      <td class='adminTask'>
        <%= link_to 'Manage Users', users_path %>
      </td>
      <td>
        Click <%= link_to 'here', users_path %> to create or
        delete individuals who can administer this website.
      </td>
    </tr>
    <tr>
      <td class='adminTask'>
        <%= link_to 'Manage Header', header_path %>
      </td>
      <td>
        Click <%= link_to 'here', header_path %> to manage images
        displayed on the website header.
      </td>
    </tr>
  </table>
</div>
