<% @title = 'Applicants' %>
<p>Below is a list of applications to join CK Casting.</p>
<%= will_paginate @applicants %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Created</th>
    <th></th>
  </tr>

<% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.first_name %></td>
    <td><%= applicant.last_name %></td>
    <td><%= applicant.created_at.strftime("%d-%b-%Y") %></td>

    <td><%= link_to 'Show', applicant %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @applicants %>
