<% @title = 'Applicant' %>

<div class="applicantDetails">
  <table class="applicantTable">
    <tr>
      <th colspan="2">Applicant's Details</th>
    </tr>
    <tr>
      <td class="key">First name:</td>
      <td class="value"><%= @applicant.first_name %></td>
    </tr>
    <tr>
      <td class="key">Last name:</td>
      <td class="value"><%= @applicant.last_name %></td>
    </tr>
    <tr>
      <td class="key">Address:</td>
      <td class="value">
        <%= @applicant.address_line_1 %><br />
        <%= @applicant.address_line_2 %><br />
        <%= @applicant.address_line_3 %><br />
        <%= @applicant.address_line_4 %><br />
      </td>
    </tr>
    <tr>
      <td class="key">Postcode:</td>
      <td class="value"><%= @applicant.postcode %></td>
    </tr>
    <tr>
      <td class="key">Date of birth:</td>
      <td class="value"><%= @applicant.date_of_birth.strftime("%d-%b-%Y") unless @applicant.date_of_birth.nil?  %></td>
    </tr>
    <tr>
      <td class="key">Gender:</td>
      <td class="value"><%= @applicant.gender %></td>
    </tr>
    <tr>
      <td class="key">Height:</td>
      <td class="value">
        <%= @applicant.height_feet %> ft
        <%= @applicant.height_inches %> ins
      </td>
    </tr>
    <tr>
      <td class="key">Hair colour:</td>
      <td class="value"><%= @applicant.hair_colour %></td>
    </tr>
    <tr>
      <td class="key">Eye colour:</td>
      <td class="value"><%= @applicant.eye_colour %></td>
    </tr>
    <tr>
      <td class="key">Skills:</td>
      <td><%= @applicant.skills %></td>
    </tr>
    <tr>
      <th colspan="2">First Parent or Gaurdian</th>
    </tr>
    <tr>
      <td class="key">Name:</td>
      <td class="value"><%= @applicant.gaurdian_name_1 %></td>
    </tr>
    <tr>
      <td class="key">Telephone:</td>
      <td class="value"><%= @applicant.gaurdian_telephone_1 %></td>
    </tr>
    <tr>
      <td class="key">Email address:</td>
      <td class="value"><%= @applicant.email_address %></td>
    </tr>
    <tr>
      <td class="key">Fax:</td>
      <td class="value"><%= @applicant.fax %></td>
    </tr>
    <tr>
      <th colspan="2">Second Parent or Gaurdian</th>
    </tr>
     <tr>
      <td class="key">Name:</td>
      <td class="value"><%= @applicant.gaurdian_name_2 %></td>
    </tr>
    <tr>
      <td class="key">Telephone:</td>
      <td class="value"><%= @applicant.gaurdian_telephone_2 %></td>
    </tr>
    <tr>
      <th colspan="2">Third Parent or Gaurdian</th>
    </tr>
     <tr>
      <td class="key">Name:</td>
      <td class="value"><%= @applicant.gaurdian_name_3 %></td>
    </tr>
    <tr>
      <td class="key">Telephone:</td>
      <td class="value"><%= @applicant.gaurdian_telephone_3 %></td>
    </tr>
    <tr>
      <th colspan="2">Credits</th>
    </tr>
    <tr>
      <td class="key">Stage:</td>
      <td class="value"><%= @applicant.stage_credits %></td>
    </tr>
    <tr>
      <td class="key">TV:</td>
      <td class="value"><%= @applicant.tv_credits %></td>
    </tr>
    <tr>
      <td class="key">Film</td>
      <td class="value"><%= @applicant.film_credits %></td>
    </tr>
    <tr>
      <td class="key">Other</td>
      <td class="value"><%= @applicant.other_credits %></td>
    </tr>
  </table>
  <%= link_to 'Back', applicants_path %>

</div>
