<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @applicant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @applicant.last_name %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @applicant.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @applicant.address_line_2 %>
</p>

<p>
  <b>Address line 3:</b>
  <%= @applicant.address_line_3 %>
</p>

<p>
  <b>Address line 4:</b>
  <%= @applicant.address_line_4 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @applicant.postcode %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @applicant.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @applicant.gender %>
</p>

<p>
  <b>Height inches:</b>
  <%= @applicant.height_inches %>
</p>

<p>
  <b>Height feet:</b>
  <%= @applicant.height_feet %>
</p>

<p>
  <b>Hair colour:</b>
  <%= @applicant.hair_colour %>
</p>

<p>
  <b>Eye colour:</b>
  <%= @applicant.eye_colour %>
</p>

<p>
  <b>Skills:</b>
  <%= @applicant.skills %>
</p>

<p>
  <b>Gaurdian name 1:</b>
  <%= @applicant.gaurdian_name_1 %>
</p>

<p>
  <b>Gaurdian telephone 1:</b>
  <%= @applicant.gaurdian_telephone_1 %>
</p>

<p>
  <b>Gaurdian name 2:</b>
  <%= @applicant.gaurdian_name_2 %>
</p>

<p>
  <b>Gaurdian telephone 2:</b>
  <%= @applicant.gaurdian_telephone_2 %>
</p>

<p>
  <b>Gaurdian name 3:</b>
  <%= @applicant.gaurdian_name_3 %>
</p>

<p>
  <b>Gaurdian telephone 3:</b>
  <%= @applicant.gaurdian_telephone_3 %>
</p>

<p>
  <b>Email address:</b>
  <%= @applicant.email_address %>
</p>

<p>
  <b>Fax:</b>
  <%= @applicant.fax %>
</p>

<p>
  <b>Stage credits:</b>
  <%= @applicant.stage_credits %>
</p>

<p>
  <b>Tv credits:</b>
  <%= @applicant.tv_credits %>
</p>

<p>
  <b>Film credits:</b>
  <%= @applicant.film_credits %>
</p>

<p>
  <b>Other credits:</b>
  <%= @applicant.other_credits %>
</p>


<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
