<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="castThumb">
    <%= image_tag f.object.thumbnail_url %>
  </div>
  <div class="field">
    <%= f.label :family_name,
                class: 'label' %>
    <%= f.text_field :family_name %><br />

  </div>
  <div class="field">
    <%= f.label 'Memebers',
                class: 'label' %>
    <div class="checkboxSelect">
      <% @family.get_available_people.each do |p| %>
        <%= check_box_tag 'members[]',
                          p.id,
                          (@family.person_ids.include?(p.id) unless @family.id.nil?)  %>
        <%= label 'members', p.id, p.full_name %>
        <br />
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
