= form_for(@family) do |f|
  - if @family.errors.any?
    %div#error_explanation
      %h2 = pluralize(@family.errors.count, "error")  prohibited this family from being saved:
      %ul
        - @family.errors.full_messages.each do |msg|
          %li #{msg}

  %div.imageColumn
    %div.castThumb
      = image_tag f.object.thumbnail_path
  %div.fieldColumn
    %div.field
      = f.label :family_name, class: 'label'
      = f.text_field :family_name
      %br/
    %div.field
      = f.label :image_upload,
                'New image',
                class: 'label'
      = f.file_field 'image_upload'
    %div.field
      The ideal image size is 261 pixels wide by 300 pixels tall.
      Images outside this range will be automatticlly resized and
      croped to fit.
    %div.field
      = f.label 'Members', class: 'label'
      %div.checkboxSelect
        - @family.get_available_people.each do |p|
          %div
            = check_box_tag 'members[]',
                            p.id,
                            (@family.person_ids.include?(p.id) unless @family.id.nil?)
            = p.full_name

    %div.actions
      = f.submit
