- @title = 'Families'

%h1 Listing families

%div
  Create:
  = link_to 'New Group', new_family_path

%div.info
  - if @families.map{|f| f.people.size }.min % 2
    %p
      * family groups with less than two members will not be displayed
      on the website

%div
  %table
    %tr
      %th
      %th Family Name
      %th Members
      %th

    - @families.each do |family|
      %tr
        %td
          = image_tag family.thumbnail_path, size: '52x60'
        %td
          = link_to family.title, edit_family_path(family)
        %td
          = pluralize(family.people.size, 'person')
          = '*' if family.people.size % 2
        %td
          = link_to 'Remove',
            family,
            method: :delete,
            data: { confirm: 'Are you sure?' }
