<% @title = 'Families' %>
<h1>Listing families</h1>

<table>
  <tr>
    <th></th>
    <th>Family name</th>
    <th></th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= image_tag family.thumbnail_url, size: '52x60' %></td>
    <td><%= family.title unless family.title.nil? %></td>
    <td><%= link_to 'Edit', edit_family_path(family) %></td>
    <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Family', new_family_path %>
