%table
  - unless show_family_link
    %tr
      %td{colspan: 2}
        %div.castThumb
          = image_tag c.thumbnail_path,
                      alt: c.title,
                      title: c.title,
                      size: '137x158'
  %tr
    %td{colspan: 2}
      %h3 #{c.full_name}
  %tr
    %td.viewStat{colspan: 2}
      This profile has been viewed
      = pluralize(c.view_count, 'time')
      and was last viewed on the
      = c.last_viewed
      - if c.family and show_family_link
        %br/
        = c.first_name
        is part of a
        = link_to 'family group', family_groups_family_path(c.family_id)
        click
        = link_to 'here', family_groups_family_path(c.family_id)
        to see all members

  %tr
    %td.nowrap Gender:
    %td #{c.gender}
  %tr
    %td.nowrap Hair Colour:
    %td #{c.hair_colour}
  %tr
    %td.nowrap Eye Colour:
    %td #{c.eye_colour}
  %tr
    %td.nowrap Height:
    %td #{c.height_string}
  %tr
    %td.nowrap URL:
    %td #{c.full_url}

  - unless c.skill_list.blank?
    %tr
      %td.nowarp Skills:
      %td #{c.skill_list}

  - if c.credits.any?
    %tr
      %td{colspan: 2}
        = pluralize(c.credits.size, 'Credit')
        - #:
        %ul
          - c.credits.each do |c|
            %li #{c.credit_item_text}
  %tr
    %td{colspan: 2}
      = link_to 'Download PDF cast sheet',
                cast_path(c.id, format: 'pdf'),
                target: '_blank'
      %br/
      = link_to_function 'Back to listing', 'history.back()'
