<%= form_for(@eye_colour) do |f| %>
  <% if @eye_colour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eye_colour.errors.count, "error") %> prohibited this eye_colour from being saved:</h2>

      <ul>
      <% @eye_colour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :eye_colour %><br />
    <%= f.text_field :eye_colour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
