<div class="applyForm">
  <% form_for :applicant do |f| %>
    <p>First name: <br />  <%= f.text_field :first_name %></p>
    <p>Last name:<br /><%= f.text_field :last_name %></p>
    <p>Email:<br /> <%= f.text_field :email_address %></p>

  <% end %>

  hihih

  <% form_tag(:controller => "apply", :action => "index", :method => "post") do |f| %>
    <p>First name: <br />  <%= f.text_field :first_name %></p>
    <%= submit_tag “Submit” %>
  <% end %>

H
</div>
