<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :People %><br />
    <%= f.text_field :People %>
  </div>
  <div class="field">
    <%= f.label :credit_order %><br />
    <%= f.number_field :credit_order %>
  </div>
  <div class="field">
    <%= f.label :credit_text %><br />
    <%= f.text_field :credit_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
