<% @title = 'Cast Book' %>
<% @description = 'View our current rosta of cast members online' %>
<div class="pageDesc">
<p>Our cast book contains all current available cast members, use the page
   numbers below to step through each page. Just click on a cast member's
   image to see their details. Use the filter section on the left-hand
   side of the page to narrow your search by the available criteria.</p>
</div>
<div class="columnFilter">
  <fieldset>
    <legend>Filter by</legend>
    <a class="reset">Reset all filters</a>
    <form id="castFilters">
      <div class="filterLabel">Gender:</div>
      <% @gender_group.each do |k, v|  %>
        <div class="filterOption">
          <input type="checkbox" name="gender[]" value="<%= k %>" id="gender_<%= k %>" />
          <label for="gender_<%= k %>"><%= v %></label>
        </div>
      <% end %>
      <div class="filterLabel">Family Group:</div>
      <div class="filterOption">
        <input type="checkbox" name="family[]" value="true" id="family" />
        <label for="family">In family group</label>
      </div>
      <div class="filterLabel">Age Group:</div>
      <% @age_group.each do |k, v|  %>
        <div class="filterOption">
          <input type="checkbox" name="age[]" value="<%= k %>" id="age_<%= k %>" />
          <label for="age_<%= k %>"><%= v %></label><br />
        </div>
      <% end %>
      <div class="filterLabel">Height Group:</div>
      <% @height_group.each do |k, v|  %>
        <div class="filterOption">
          <input type="checkbox" name="height[]" value="<%= k %>" id="height_<%= k %>" />
          <label for="height_<%= k %>"><%= v %></label><br />
        </div>
      <% end %>
      <div class="filterLabel">Hair Colour:</div>
      <% @hair_group.each do |k, v|  %>
        <div class="filterOption">
          <input type="checkbox" name="hair[]" value="<%= k %>" id="hair_<%= k %>" />
          <label for="hair_<%= k %>"><%= v %></label><br />
        </div>
      <% end %>
      <div class="filterLabel">Eye Colour:</div>
      <% @eye_group.each do |k, v|  %>
        <div class="filterOption">
          <input type="checkbox" name="eye[]" value="<%= k %>" id="eye_<%= k %>" />
          <label for="eye_<%= k %>"><%= v %></label><br />
        </div>
      <% end %>
      <%= hidden_field_tag 'page', @page, {value: '1'} %>
    </form>
  </fieldset>
</div>

<div class="columnCastList">
  <div id="castThumbs" />
    <%= render partial: 'shared/castlist', locals: {castlist: @castlist} %>
  </div>
</div>
