<div class="columnFilter">
  <fieldset>
    <legend>Filter by</legend>
    Gender:<br />
    <% @gender_group.each do |k, v|  %>
    <input type="checkbox" name="gender[]" id="<%= k %>" value="<%= k %>" />
    <label for="<%= k %>"><%= "#{k} (#{v})" %></label><br />
    <% end %>
    <hr />
    
  </fieldset>
</div>

<div class="columnCastList">
<div class="pageNav">
  Pages:
<% (1..@nav).each do |n| %>
  <%= link_to n, {controller: "castbook", action: "index", id: n} %>
<% end %><br />
</div>
<% @castbook.each do |castbook| %>
  <div class="castThumb">
  <%= link_to(image_tag(castbook.thumbnail_url, 
     alt: castbook.full_name), castbook.url) %>
  </div>
<% end %>
</div>
