<% @title = @castbook.full_name %>
<div class="columnCastImage">
  <div class="castImage">
  <%= image_tag @castbook.image_url,
                alt: @castbook.full_name,
                size: '261x300' %>
  </div>
</div>
<div class="columnCastDetails">
  <table>
  <tr>
    <td colspan="2">
      <h3><%= @castbook.full_name %></h3>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="viewStat">
      This profile has been viewed <%= @castbook.view_count %> times
      and was last viewed on the <%= @castbook.last_viewed_at.strftime("%d-%b-%Y") %>
    </td>
  </tr>
  <tr>
    <td class="nowrap">
      Gender:
    </td>
    <td>
      <%= @castbook.gender %>
    </td>
  </tr>
  <tr>
    <td class="nowrap">
      Hair Colour:
    </td>
    <td>
      <%= @castbook.hair_colour %>
    </td>
  </tr>
  <tr>
    <td class="nowrap">
      Eye Colour:
    </td>
    <td>
      <%= @castbook.eye_colour %>
    </td>
  </tr>
  <tr>
    <td class="nowrap">
      Height:
    </td>
    <td>
      <%= @castbook.height_feet %>'&nbsp;
      <%= @castbook.height_inches %>"
    </td>
  </tr>
  <tr>
    <td>
      URL:
    </td>
    <td><%= @castbook.full_url %></td>
  </tr>
  <% if @castbook.skill_list != '' %>
  <tr>
    <td>
      Skills:
    </td>
    <td>
    <%= @castbook.skill_list %>
    </td>
  </tr>
  <% end %>
  <% if @castbook.credit_list_array.size != 0 %>
  <tr>
    <td colspan="2">
      Credits(<%= @castbook.credit_list_array.size %>):
      <ul>
      <% @castbook.credit_list_array.each do |c| %>
      <li>
      <%= c %>
      </li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  </table>
   link_to 'Edit', edit_castbook_path(@castbook)  |
   link_to 'Back', castbook_path
</div>
