<%= form_for(@hair_colour) do |f| %>
  <% if @hair_colour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hair_colour.errors.count, "error") %> prohibited this hair_colour from being saved:</h2>

      <ul>
      <% @hair_colour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hair_colour %><br />
    <%= f.text_field :hair_colour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
