<!DOCTYPE html>
<html>
<head>
  <title>CK Casting<%= ' - ' + @title unless @title == nil %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="container" class="container">
    <header>
     <hgroup>
     <h1>Welcome to CK Casting - a new and exciting agency for babies and toddlers to young
         adults.</h1>
     </hgroup>
      <nav>
        <div class="<%= 'activeNav' if controller.controller_name == 'home' %>">
          <%= link_to_unless_current "Home", root_path %>
        </div>
        <div class="<%= 'activeNav' if controller.controller_name == 'castbook' %>">
          <%= link_to_unless_current "Cast Book", controller: 'castbook' %>
        </div>
        <div class="<%= 'activeNav' if controller.controller_name == 'family_groups' %>">
          <%= link_to_unless_current "Family Groups", controller: 'family_groups' %>
        </div>
        <div class="<%= 'activeNav' if controller.controller_name == 'join' %>">
          <%= link_to_unless_current "Join Us", controller: 'join' %>
        </div>
        <div class="<%= 'activeNav' if controller.controller_name == 'contact' %>">
          <%= link_to_unless_current "Contact Us", controller: 'contact' %>
        </div>
      </nav>
    </header>
    <section id="main">
      <% flash.each do |key, value| %>
        <div id="flashHolder">
          <%= content_tag(:div, sanitize(value), class: "flash #{key}", id: 'flashMessage') %>
        </div>
      <% end %>
      <%= yield %>
    </section>
    <footer>
      Copyright © 2008 CK Casting Agency
    </footer>
  </div>
</body>
</html>
