<!DOCTYPE html>
<html>
<head>
  <title>Ck Casting</title>
  <%= stylesheet_link_tag    "application" %>
  <!--[if lte IE 8]>
			<%= stylesheet_link_tag    "ie" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="container" class="container showgrid">
    <header>
      <nav>
        <ul>
          <li>HOME</li>
        </ul>
      </nav>
    </header>
    <section id="main">
      <%= yield %>
    </section>
    <footer>
      footer
    </footer>
  </div>
</body>
</html>
